@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-orange: #ff4d29;
  --brand-red: #ff3131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply antialiased;
  }
}
